@page
@model CharityProject.Pages.Posts.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>@(Model.Post.Id != 0 ? "Edit" : "Create")</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4" style="display: flex; gap: 2rem;">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Post.ImageURL" hidden />
            <input asp-for="Post.Id" hidden />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Post.Title" class="control-label"></label>
                <input asp-for="Post.Title" class="form-control" />
                <span asp-validation-for="Post.Title" class="text-danger"></span>
            </div> 
            <div class="form-group">
                <label asp-for="Post.Body" class="control-label"></label>
                <input asp-for="Post.Body" class="form-control" />
                <span asp-validation-for="Post.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.DonationGoal" class="control-label"></label>
                <input asp-for="Post.DonationGoal" class="form-control" />
                <span asp-validation-for="Post.DonationGoal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input name="file" type="file" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        @if (!string.IsNullOrEmpty(Model.Post.ImageURL))
        {
            <img src="@Model.Post.ImageURL" width="500px;" />
        }
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
