.header-placeholder {
    height: 64px;
    width: 100%;
    margin: 0.75rem 1.5rem;
}
header {
    background-color: white;
    position: fixed;
    width: 100%;
    transition: 0.2s;
    height: 64px;
    z-index: 100;
    max-width: 1120px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1rem;
}
.header-normal {
    border-radius: 2rem;
    margin-top: 0.5rem;
}
.header-fixed {
    width: 100%;
    max-width: 100%;
    padding: 0 4rem;
    box-shadow: 0 6px 14px #0000001a;
}
nav {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-content: center;
    align-items:center;
}
.nav-image {
    flex-grow: 1;
    justify-content: center;
}
.nav-image img {
    height: 36px;
    width: 55px;
}
.nav-search {
    display: flex;
    gap: 0.5rem;
    margin-left: 0.5rem;
    cursor: pointer;
    width: 65px;
    transition-duration: 0.5s;
}
.nav-search--expanded {
    width: 100%;
    box-shadow: 0 6px 14px #0000001a;
    background-color: white;
}
/*.nav-search:hover {
    background-color: aliceblue;
}*/

.nav-left, .nav-right {
    width: 350px;
}
.nav-left, .nav-right, .nav-image {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.nav-right {
    justify-content: flex-end;
}
.nav-button {
    padding: 0.25rem 1rem;
    border: 1px solid;
    border-color: #c8c8c8;
    font-weight: 700;
    width: 150px;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    cursor: pointer;
    transition-duration: 0.4s;
}
.nav-button-green {
    background-color: #008748;
    color: white;
}
.dropdown {
    position: absolute;
    top: 30px;
    background-color: white;
    list-style: none;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    padding:0.5rem;
    width: 150px;
    height: 0px;
    display: none;
    transition: height;
    z-index: -1;
    transition-duration: 0.1s;
}
.dropdown-open {
    height: 100px;
    display: flex;
}
.nav-dropdown {
    cursor: pointer;
    position: relative;
}
.arrow{
    transition-duration: 0.1s;
    display: inline-block;
}
.arrow-active {
    transform: rotate(180deg);
}