@page
@model LoginModel
<div class="login">
    <a asp-page="/Index">
        <img src="~/images/hero.png" alt="Alternate Text" />
    </a>
    <form method="post">
        <h1>LOGIN</h1>                
        <div asp-validation-summary="ModelOnly" role="alert"></div>

        <div class="input-div">
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="Email" />
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div class="input-div">
            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Password" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div>
            <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
        <p>
            Don't have an account? <a class="sign-up" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Sign up</a>
        </p>
    </form>
</div>

